* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  margin: 2em;
  font-family: 'Arimo', sans-serif;
  font-size: 1.25em;
  background: rgb(11, 18, 11);
  color: azure;
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin: 1.5em 0;
}

h1 {
  margin-bottom: 1em;
}

.slideImage {
  object-fit: contain;
  /* border: 1px solid black; */
}

/* TODO: prevent scrolling behind carousel */
.carousel-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
}

.carousel-provider {
  position: relative;
  width: 90vw;
  /* max-height: 75vh; */
}

.carousel-nav-btn-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 45%;
  width: 100%;
}

.carousel-nav-btn-container button {
  font-size: 1.5em;
  opacity: .5;
  color: azure;
  background: rgb(11, 18, 11);
  border: none;
}

.prev {
  padding: 1px 5px 1px 2px;
  /* position: relative; */
  /* left: 0; */
}
.next {
  padding: 1px 2px 1px 5px;
  /* position: relative; */
  /* right: 0; */
}

/* .prev:before,
.next:before {
  color: #fff;
  font-size: 4em;
  position: absolute;
  top: 40%;
  cursor: pointer;
}

.prev:before {
  content: '<';
  left: 0;
}

.next:before {
  content: '>';
  right: 0;
} */


@media (max-width: 650px) {
  body {
    margin: .75em;
  }  
}