* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 2em;
  font-family: 'Arimo', sans-serif;
  font-size: 1.25em;
  background: rgb(11, 18, 11);
  color: azure;
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin: 1.5em 0;
}

h1 {
  margin-bottom: 1em;
}

.carousel-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
}

.carousel.carousel {
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  position: relative; */
  width: 85vw;
  /* height: 100%; */
  /* max-height: 95vh; */
  /* padding: 10px 0; */
}

/* .carousel.carousel div:not(.carousel__inner-slide) > div,
.carousel.carousel ul,
.carousel.carousel li {
  height: 100%;
  width: 100%;
} */
/* .carousel__slider.carousel__slider {
  
} */
/* .carousel__slide.carousel__slide {
  float: none;
  height: 100%;
} */
/* .slideImage.slideImage { */
  /* object-fit: contain; */
  /* width: 100%; */
  /* height: 100%; */
  /* height: auto; */
  /* height: 500px; */
/* } */

/* button {
  background: red;
} */
.prev {
  padding: 1px 5px 1px 2px;
}

.next {
  padding: 1px 2px 1px 5px;
}

@media (max-width: 650px) {
  body {
    margin: .75em;
  }  
}